
@{
    ViewBag.Title = "UserProfile";
}

<style type="text/css">
    #body {
        width: 500px;
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black;
        text-align: center;
    }
    .socal-icon {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
</style>

<h1 class="text-center">Your Profile</h1>

<center><img src="" /></center>
<div id="body" class="text-center">

    <h2>Name: <i>*Username here*</i></h2>

</div>
<div class="row">
    <div class="col-xs-6 text-center">
        <ul class="list-group">
            <li class="list-group-item"><h2>Your groups</h2></li>
            <li class="list-group-item">Group 1</li>
            <li class="list-group-item">Group 2</li>
        </ul>
    </div>
    <div class="col-xs-6 text-center">
        <ul class="list-group">
            <li class="list-group-item"><h2>Your invites</h2></li>
            <li class="list-group-item">Invite 1</li>
            <li class="list-group-item">Invite 2</li>
        </ul>
    </div>
</div>






