
@model Chronos.Models.GroupContentModel
<div id="calendar" class="tab-pane fade in">
    <h2>Calendar</h2>
    <p>Upcoming events</p>
    <form class="form-inline">
        <div class="form-group">
            <label>Start Date 
                @Html.TextBoxFor(model => model.Calendar.StartTime, "{0:yyyy-MM-dd}", new { @type = "date" })
            </label>
            <label> End Date 
                @Html.TextBoxFor(model => model.Calendar.EndTime, "{0:yyyy-MM-dd}", new { @type = "date" })
            </label>
            <button class="btn btn-success hidden" id="getEventsBtn">Get Events</button>
        </div>
    </form>
    <ul class="list-group" id="eventList">

        @foreach (string eventInfo in Model.Calendar.GetTimesBusy()) {
            <li class="list-group-item">@eventInfo</li>
        }
    </ul>
</div>
